<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat another one{{else}}Devour it{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
